# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Output of the go build tool
_build/

# Output of the go vet tool
_vet/

# IDE directories
.idea/
.vscode/

# Vendor directory
vendor/

# Dependency directories
Godeps/
vendor/

# Go workspace file
go.work
go.work.sum

# Logs
*.log

# Temporary redis files
/data/

# CLI Binary
goshorty